.wp-block-wdevs-tax-switch {
  display: flex;
  align-items: center;
  gap: 10px;

  .wdevs-tax-switch {
	display: flex;
	align-items: center;

	.wdevs-tax-switch-label {
	  display: inline-block;
	  width: 60px;
	  height: 34px;
	  position: relative;
	  margin-bottom: 0;
	}

	.wdevs-tax-switch-checkbox {
	  opacity: 0;
	  width: 0;
	  height: 0;
	}

	.wdevs-tax-switch-slider {
	  position: absolute;
	  cursor: pointer;
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  background-color: var(--wts-bg-color, #ccc);
	  transition: background-color 0.4s;
	  border-radius: 34px;
	  touch-action: manipulation;

	  &::before {
		position: absolute;
		content: "";
		height: 26px;
		width: 26px;
		left: 4px;
		bottom: 4px;
		background-color: var(--wts-color, #fff);
		transition: transform 0.4s;
		border-radius: 50%;
	  }
	}

	.wdevs-tax-switch-checkbox:checked + .wdevs-tax-switch-slider {
	  background-color: var(--wts-bg-color-checked, #34c759);

	  &::before {
		transform: translateX(26px);
		background-color: var(--wts-color-checked, var(--wts-color, #fff));
	  }
	}

	.wdevs-tax-switch-label-text {
	  font-size: 14px;
	  font-weight: 500;
	  color: var(--wts-text-color, #333);
	  margin-left: 10px;
	  cursor: pointer;
	  user-select: none;
	  touch-action: manipulation;
	}
  }

  .wdevs-tax-buttons {
	display: flex;
	gap: 4px;

	.wdevs-tax-button {
	  all: unset;
	  margin: 0;
	  padding: 4px 8px;
	  background: none;
	  cursor: pointer;
	  font: inherit;
	  border-radius: 4px;

	  background-color: var(--wts-bg-color, #e9e9ea);
	  color: var(--wts-text-color, var(--wts-color, #333));
	  border: 1px solid var(--wts-color, #333);
	}

	.wdevs-tax-button.wdevs-tax-button-active {
	  background-color: var(--wts-bg-color-checked, #333);
	  color: var(--wts-text-color, var(--wts-color-checked, #fff));
	  border-color: var(--wts-color-checked, #fff);
	}
  }

  &.is-style-inline {
	.wdevs-tax-switch {
	  .wdevs-tax-switch-label {
		width: 50px;
		height: 30px;
	  }

	  .wdevs-tax-switch-slider {
		background-color: var(--wts-bg-color, #e9e9ea);
		border-radius: 30px;

		&::before {
		  height: 28px;
		  width: 28px;
		  left: 1px;
		  bottom: 1px;
		  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
		}
	  }

	  .wdevs-tax-switch-checkbox:checked + .wdevs-tax-switch-slider {

		&::before {
		  transform: translateX(20px);
		}
	  }

	  .wdevs-tax-switch-label-text {
		font-size: 13px;
	  }
	}

	.wdevs-tax-buttons {
	  gap: 15px;

	  .wdevs-tax-button {
		background-color: transparent;
		border: none;
		position: relative;
		color: var(--wts-text-color, var(--wts-color, #333));
		padding: 0;

		&:first-child::after {
		  content: "";
		  width: 1px;
		  display: block;
		  position: absolute;
		  top: 30%;
		  height: 55%;
		  right: -7.5px;
		  background-color: var(--wts-bg-color, #333);
		}

		&:hover:not(.wdevs-tax-button-active) {
		  text-decoration: underline;
		  color: var(--wts-text-color, var(--wts-color-checked, #333));
		}

		&.wdevs-tax-button-active {
		  text-decoration: underline;
		  background-color: transparent;
		  color: var(--wts-text-color, var(--wts-color-checked, #333));
		}
	  }
	}
  }

	&.is-style-flat-pill {
		.wdevs-tax-switch {
			.wdevs-tax-switch-label {
				width: 64px;
				height: 28px;
			}

			.wdevs-tax-switch-slider {
				background-color: var(--wts-bg-color, #929197);
				border-radius: 14px;
				transition: background-color 0.3s ease;

				&::before {
					height: 24px;
					width: 39px;
					left: 2px;
					bottom: 2px;
					border-radius: 12px;
					box-shadow: none;
					transition: transform 0.3s ease, left 0.3s ease;
				}
			}

			.wdevs-tax-switch-checkbox:checked + .wdevs-tax-switch-slider {
				background-color: var(--wts-bg-color-checked, #34C759);

				&::before {
					left: 23px;
					transform: translateX(0);
				}
			}

			.wdevs-tax-switch-label-text {
				font-size: 14px;
			}
		}

		.wdevs-tax-buttons {
			.wdevs-tax-button {
				padding: 6px 16px;
				border-radius: 14px;
				background-color: var(--wts-bg-color, #E5E5EA);
				color: var(--wts-text-color, #333);
				border: none;
				transition: background-color 0.3s ease;

				&.wdevs-tax-button-active {
					background-color: var(--wts-bg-color-checked, #34C759);
					color: var(--wts-text-color, #fff);
					border: none;
				}
			}
		}
	}
}
